body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  /* make images flexible */
  img {
    max-width: 100%;
  }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    border-bottom: 10px solid #d98555;
  }
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
    flex: 25%;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  /* establishes a white background */
  .main-bkgd {
    background: #ffffff url(../images/gulp-bottom-beans.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  productsMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
    grid-template-areas:
        "makingEspresso sub1 beansTable"
        "sub2 pourOver sub3";
  }
  img.makingEspresso {
    display: grid;
    max-width: 1fr;
    grid-area: "makingEspresso";
    border-radius: 10px;
  }
  .sub1 {
    display: grid;
    grid-area: "sub1";
  }
  img.beansTable {
    display: grid;
    max-width: 1fr;
    grid-area: "beansTable";
    border-radius: 10px;
  }
  .sub2 {
    display: grid;
    grid-area: "sub2";
  }
  img.pourOver{
    display: grid;
    max-width: 1fr;
    grid-area: "pourOver";
    border-radius: 10px;
  }
  .sub3 {
    display: grid;
    grid-area: "sub3";
  }
  article {
    flex-basis: 45%;
  }
  figure {
    margin: 3rem 0 0 0;
    flex-basis: 50%;
    border-radius: 10px;
  }
  figure img {
    border-radius: 10px;
  }
  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }

  @media all and (min-width: 768px) and (max-width: 992px){
    nav ul {
        justify-content: center;
      }
    nav .logo {
        display: flex;
        flex: 100%;
        justify-content: center;
      }
    productsMain {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2%;
        margin-left: 3%;
        margin-right: 3%;
        grid-template-areas:
            "makingEspresso sub1"
            "beanTable sub2" 
            "pourOver sub3";
      }
    
  }

  @media all and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
      }
      /* flex basis on the image container, li */
    nav .logo {
        display: flex;
        text-align: center;
        justify-content: center;
        flex: 100%;
      }
      productsMain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 3%;
        grid-template-areas:
            "makingEspresso"
            "sub1"
            "beanTable" 
            "sub2"
            "pourOver"
            "sub3";
      }
  }